extends ../layouts/application_layout

block append content
  header#header
    .container
      h1 
        | Hi, this is Raul San
      p I am not much different from you.
      p We both have dreams and skills we can use to inspire the ones we meet on our way.
      p We are both alive and have the freedom to make the most out of every moment starting now.
      p We might have met, but if we haven't, when we do meet, it would be great to talk about things we have in common and find ways to collaborate to help create a better society.
      p What I care about can be easily summarized. 
      p The following words could be a great topic of conversation for next/first time we meet.  
  #sections
    section#empathy
      .container
        h2 Empathy
        p if our society had high levels of empathy there wouldn't be any problem in the world, because we would be very careful about our actions and the effect those actions have in other people and our planet.

    section#nature
      .container
        h2 Nature
        p " Human subtlety will never devise an invention more beautiful, more simple or more direct than does nature, because in her inventions nothing is lacking, and nothing is superfluous. "
        p - Michelangelo
    section#social_entrepreneurship
      .container
        h2 Social Entrepreneurship
        p In the 60's we had the hippie movement. Right now we are in the middle of a Social Entrepreneurship movement to bring balance in the way we reward value provided to our society. Social Entrepreneurship is all about creating a positive impact in the world and bringing abundance to those making things happen.
    section#optimism
      .container
        h2 Optimism
        p Worrying is like praying for what you don't want. 
        a.tweet_this(target="_blank", href="https://twitter.com/intent/tweet?source=webclient&text=Worrying%20is%20like%20praying%20for%20what%20you%20don't%20want.+via+http://bit.ly/LKnMdw")
          span
          http://twitter.com/home?status=Worrying is like praying for what you don't want.+ http://raulsann.com/#optimism %20%23raulsann
    section#games
      .container
        h2 Games
        p " Games have in common 4 traits: clear goals, rules, a feedback system and voluntary participation. "
        p - 
          != link_to('Jane McGonigal','http://janemcgonigal.com/')
        p Life becomes the most entertaining fun game ever! when we 
        p (1) learn to identify our goals in life, (2) learn to identify (follow and break) the rules of the society, (3) find the mentors that are willing to give us meaningful feedback and (4) learn we have the option to do whatever we want with our own lives.


    section#working_on
      .container
        .over_canvas
          h2 What I am working on right now
          .project
            h3 EMOTION
            p An emotional intelligence training platform to help you understand how to use empathy and emotions to empower yourself and the ones around you.


            != link_to('http://emotion.is','http://emotion.is')
          .project
            h3 ReWork
            p ReWork helps professionals align their occupation with an inspiring mission, turning their careers into a powerful force for good.
            != link_to('http://rework.jobs','http://rework.jobs')














