extends ../layouts/application_layout

block append content
  header
    canvas.bg#bg_header
    .container
      h1 
        | Raul San Narciso
      p I was born in 1985, lived in Spain, Scotland, the US and traveled to visit different cultures, from Asia to South America, looking for insights about how to bring an equilibrium between our society and Nature. 
      p I studied Computer Engineering not because I love technology on itself, but because it is a great tool I can use to reach the many.



  section#what_is_the_call
    canvas.bg#bg_section_1
    .container
      h2 The words I use to direct my life are:
      p
        | Play The Call 
        | is a game to awaken the children of the world and unlock their inborn 
        span.chunk
          | Super-Powers.
      p Play The Call will be presented as an online platform, using and connecting free online applications including Facebook, Twitter, Google+ and Ning to foster the collaboration between players. It will be played in the real world, integrating physical and digital space to connect and challenge people and communities around the world to play with each other, and perform real tasks that will transform our world.

