doctype 5
html(lang="en")
  head
    title= title
    != stylesheet_link_tag('bootstrap.min', 'MyFontsWebfontsKit', 'index', 'bootstrap-responsive')
    != javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'compiled/variables', 'underscore-min', 'backbone-min', 'brushes/sketchy', 'bootstrap', 'rails', 'application', 'compiled/views/canvas-brush-view', 'compiled/index')
  body
    block content
      yield
    hr
    footer
      .container