doctype 5
html(lang="en")
  head
    title= title
    != stylesheet_link_tag('bootstrap.min', 'MyFontsWebfontsKit', 'index', 'bootstrap-responsive')
    meta(name="author", content="Raul San Narciso")
    meta(name="description", content="I am not much different from you. We both have dreams and skills we can use to inspire the ones we meet on our way. We are both alive and have the freedom to make the most out of every moment starting now. We might have met, but if we haven't, when we do meet, it would be great to talk about things we have in common and find ways to collaborate to help create a better society. What I care about can be easily summarized. The following words could be a great topic of conversation for next/first time we meet.")
    meta(name="keywords", content="Raul San Narciso, empathy, nature, games, emotion.is, play the call, playthecall, social entrepreneurship")
    meta(name="robots", content="index, follow")
    meta(http-equiv="content-language", content="en-us")
    meta(http-equiv="content-type", content="text/html", charset="utf-8")
    meta(name="google-site-verification", content="h54b2RS9qe8DJAjP-INY31byUkFz9YxAcHypA2Cy-wM")
    script(type="text/javascript")
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33080602-1']);
      _gaq.push(['_setDomainName', 'raulsann.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  body
    canvas#bg
    
    block content
      yield
    hr
    
    #clean.btn.btn_footer Clean Canvas
    #blog.btn_footer
      a(href='http://wowake.com')
        img(src="/images/blog-icon.png")
    #tw.btn_footer
      a(href='http://twitter.com/raulsann')
        img(src="/images/tw.png")
    #fb.btn_footer
      a(href='http://facebook.com/raulsann')
        img(src="/images/fb.png")
    #ln.btn_footer
      a(href='http://linkedin.com/in/raulsann')
        img(src="/images/ln.png")
    #g.btn_footer
      a(href='https://plus.google.com/115002321683827744257/')
        img(src="/images/g.png")

    #arrow.btn_footer
    footer
      .container
    != javascript_include_tag('http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js', 'compiled/variables', 'underscore-min', 'backbone-min', 'brushes/sketchy', 'bootstrap', 'rails', 'application', 'compiled/views/canvas-brush-view', 'compiled/index')